<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Threads - Contacto</title>
    <link rel="icon" type="image/png" href="../favicon.png">
    <link rel="stylesheet" href="../styles/estilos.css">
</head>
<body>
    <header>
        <img src="../assets/img/cráneo-96.png" alt="logoDT" id="logoAni" width="96" height="96">
        <nav>
            <ul class="liNav">
                <li>
                    <a class="enlace" href="../index.html">Inicio</a>
                </li>
                <li>
                    <a class="enlace" href="productos.html">Galeria</a>
                </li>
                <li>
                    <a class="enlace" href="presupuesto.html">presupuesto</a>
                </li>
                <li>
                    <a class="enlace active" href="#">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="contacto">
        <!-- Sección con el mapa y los datos -->
        <section id="ubi-tienda">
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d68725.67652802882!2d-3.7699718707952288!3d40.4249203614893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42289733a3c367%3A0xa95157bdb5cc1872!2sPrada%20Madrid%20Uomo!5e0!3m2!1ses!2ses!4v1726558424762!5m2!1ses!2ses"
                    allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="datos-container">
                <h2>Datos de Dark Threads</h2>
                <p><strong>Dirección:</strong> Calle Oscura 123, Ciudad Nocturna</p>
                <p><strong>Teléfono:</strong> +123 456 789</p>
                <p><strong>Email:</strong> contacto@darkthreads.com</p>
                <p><strong>Horario de atención:</strong> Lunes a Viernes de 9:00 AM a 6:00 PM</p>
            </div>
        </section>
    
        <!-- Sección de la imagen de la tienda -->
        <section class="img-empresa">
            <h2>Tienda Fisica Dark Threads</h2>
            <img src="../assets/img/Dark_Threads_storefront.png" alt="Imagen de la tienda Dark Threads" width="1024" height="1024">
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Dark Threads. Todos los derechos reservados.</p>
        <p>Dark Threads | Direccion: Calle Falsa 321 , Madrid </p>
        <ul class="social-li">
            <li>
                <a href="https://www.instagram.com/"><img src="../assets/icons/icon-instagram-100.png" alt="enlace-instagram" width="100" height="100"></a>
            </li>
            <li>
                <a href="https://twitter.com/?lang=es"><img src="../assets/icons/icon-twitterx-100.png" alt="enlace-twitter" width="100" height="100"></a>
            </li>
            <li>
                <a href="https://www.facebook.com/"><img src="../assets/icons/icon-facebook-nuevo-100.png" alt="enlace-facebook" width="100" height="100"></a>
            </li>
        </ul>
    </footer>
</body>
</html>