<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Threads- Galeria</title>
    <link rel="icon" type="image/png" href="../favicon.png">
    <link rel="stylesheet" href="../styles/estilos.css">
</head>
<body>
    <header>
        <img src="../assets/img/cráneo-96.png" alt="logoDT" id="logoAni" width="96" height="96">
        <nav>
            <ul class="liNav">
                <li>
                    <a class="enlace" href="../index.html">Inicio</a>
                </li>
                <li>
                    <a class="enlace active" href="#">Galeria</a>
                </li>
                <li>
                    <a class="enlace" href="presupuesto.html">presupuesto</a>
                </li>
                <li>
                    <a class="enlace" href="contacto.html">Contacto</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="galeria">
        <h1>Nuestra Colección</h1>
        <div class="grid-container">
            <div class="grid-item">
                <img src="../assets/img/drop1.jpg" alt="Producto 1" width="564" height="564">
                <h2>Camiseta Chicago</h2>
                <p>Corte oversize, material algodon, precio 17€</p>
            </div>
            <div class="grid-item">
                <img src="../assets/img/drop2.jpg" alt="Producto 2" width="736" height="725">
                <h2>Camiseta Creator</h2>
                <p>Corte boxfit, material poliester, precio 22€</p>
            </div>
            <div class="grid-item">
                <img src="../assets/img/drop3.jpg" alt="Producto 3" width="564" height="564">
                <h2>Camiseta Colmillo</h2>
                <p>Corte boxfit, material algodon, precio 20€</p>
            </div>
            <div class="grid-item">
                <img src="../assets/img/drop4.jpg" alt="Producto 4" width="564" height="564">
                <h2>Camiseta Hades</h2>
                <p>Corte oversize, material poliester, precio 22€</p>
            </div>
            <div class="grid-item">
                <img src="../assets/img/drop5.jpg" alt="Producto 5" width="500" height="500">
                <h2>Sudadera Blast</h2>
                <p>Corte boxfit, material algodon, precio 27€ </p>
            </div>
            <div class="grid-item">
                <img src="../assets/img/drop6.jpg" alt="Producto 6" width="236" height="236">
                <h2>Sudadera Brand</h2>
                <p>Corte boxfit, material algodon, precio 30€</p>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2024 Dark Threads. Todos los derechos reservados.</p>
        <p>Dark Threads | Direccion: Calle Falsa 321 , Madrid </p>
        <ul class="social-li">
            <li>
                <a href="https://www.instagram.com/"><img src="../assets/icons/icon-instagram-100.png" alt="enlace-instagram" width="100" height="100"></a>
            </li>
            <li>
                <a href="https://twitter.com/?lang=es"><img src="../assets/icons/icon-twitterx-100.png" alt="enlace-twitter" width="100" height="100"></a>
            </li>
            <li>
                <a href="https://www.facebook.com/"><img src="../assets/icons/icon-facebook-nuevo-100.png" alt="enlace-facebook" width="100" height="100"></a>
            </li>
        </ul>
    </footer>
</body>
</html>